.message-sent {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #1d2a3b;
  border-radius: 15px;
  text-align: end;
  border-bottom-right-radius: 0px;
  padding: 10px;
  color: white;
}
.message-received {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  padding: 10px;
  color: black;
}
.username {
  font-size: 11px;
}
